<nav class="navbar">
  <div class="navbar__logo"><img src="../../assets/logo4.JPG" alt="Logo"></div>

  <div class="navbar__div" *ngIf="!auth.loggedIn() else logout">
    <ul class="navbar__items">
      <li class="navbar__items-link">
        <a class="navbar__items-link-a" routerLink="/login" routerLinkActive="active-link">Sign in</a>
      </li>
      <li class="navbar__items-link">
        <a class="navbar__items-link-a" routerLink="/signup" routerLinkActive="active-link">Signup</a>
      </li>
    </ul>
  </div>

<ng-template #logout >
  <div class="navbar__div" >
    <ul class="navbar__items">
      <li class="navbar__items-link">
        <a class="navbar__items-link-a" routerLink="/tareas" routerLinkActive="active-link">Tareas</a>
      </li>
      <li class="navbar__items-link">
        <a class="navbar__items-link-a" style="cursor: pointer;" (click)="auth.logOut()">Logout</a>
      </li>
    </ul>
  </div>
</ng-template>


</nav>